@charset "utf-8";
@import "normalize";
$headerFont: 'Anton', sans-serif;
$bodyFont: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

.header{
  text-align: center;
  font-family: $headerFont;
  font-size: 2.5em;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & span{
    white-space: nowrap;
    & h1 {
      display: inline-block;
      font-weight: 400;
      margin: 0;
      padding: 0.4em;
      @media screen and (max-width: 550px){
        font-size: 1.5em;
      }
    }
    & img {
      height: 2em;
      @media screen and (max-width: 550px){
        height: 1.5em;
      }
    }
    & .arrowdown{
      -webkit-transform: rotate(180deg);
         -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
           -o-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
}

.container{
  width: 95%;
  max-width: 750px;
  margin: auto;
  font-family: $bodyFont;
  text-align: center;
  & .intro-button{
    text-align: center;
    padding: 1em;
    color: white;
    border: none;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    &:hover{
      color: black;
    }
  }
}

.intro-text{
  & p{
      font-size: 1.5em;
    }
}

.question-container{
  font-size: 1.4em;
  & p{
    margin-bottom: 1.5em;
  }
  & .q-number{
    padding: 0.2em;
    margin-right: 0.4em;
    float:left;
  }
  & .answer-button{
    padding: 0.6em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
      background-color: lighten(black, 90%);
    }
  }
}

.other-answer{
  & input{
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  & button{
    margin-left: 0.5em;
    font-size: 0.7em;
    background-color: white;
    border: solid 1px black;
    transition: all 0.2s ease-in-out;
    &:hover{
      background-color: black;
      color: white;
    }
  }
}

.thanks{
  font-size: 1.5em;
  padding: 1em;
    & button{
    margin-left: 0.5em;
    font-size: 0.7em;
    background-color: white;
    border: solid 1px black;
    transition: all 0.2s ease-in-out;
    &:hover{
      background-color: black;
      color: white;
    }
  }
}

html {
  height: 100%;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 142px; // Using footer height from example
  box-sizing: border-box; // Supported by IE8+ as well
}
.site-footer {
  text-align: center;
  position: absolute;
  color:white;
  bottom: 0;
  height: 4em;
  width: 100%;
  padding-top: 0.5em;
  & img{
    width: 10em;
    vertical-align: middle;
  }
}
